In [16]:
import numpy as np
import pandas as pd
import math

In [3]:
data = np.array([[2.7810836, 2.550537003, 0],
                 [1.465489372, 2.362125076, 0],
                 [3.396561688, 4.400293529, 0],
                 [1.38807019, 1.850220317, 0],
                 [3.06407232, 3.005305973, 0],
                 [7.627531214, 2.759262235, 1],
                 [5.332441248, 2.088626775, 1],
                 [6.922596716, 1.77106367, 1],
                 [8.675418651, -0.242068655, 1],
                 [7.673756466, 3.508563011, 1]])
X = data[:, 0:2]
y = data[:, 2]

In [4]:
X

array([[ 2.7810836 ,  2.550537  ],
       [ 1.46548937,  2.36212508],
       [ 3.39656169,  4.40029353],
       [ 1.38807019,  1.85022032],
       [ 3.06407232,  3.00530597],
       [ 7.62753121,  2.75926224],
       [ 5.33244125,  2.08862677],
       [ 6.92259672,  1.77106367],
       [ 8.67541865, -0.24206865],
       [ 7.67375647,  3.50856301]])

In [5]:
y

array([0., 0., 0., 0., 0., 1., 1., 1., 1., 1.])

In [6]:
val = [2.6, 3.4]

In [12]:
print(X[0][1])

2.550537003

In [13]:
attr_a = []
attr_b = []
for i in range(len(X)):
    attr_a.append(X[i][0])
for i in range(len(X)):
    attr_b.append(X[i][1])

In [14]:
attr_a

[2.7810836,
 1.465489372,
 3.396561688,
 1.38807019,
 3.06407232,
 7.627531214,
 5.332441248,
 6.922596716,
 8.675418651,
 7.673756466]

In [15]:
attr_b

[2.550537003,
 2.362125076,
 4.400293529,
 1.850220317,
 3.005305973,
 2.759262235,
 2.088626775,
 1.77106367,
 -0.242068655,
 3.508563011]

In [17]:
dist = []
for i in range(len(X)):
    dist.append(math.sqrt((attr_a[i]-val[0])*(attr_a[i]-val[0]) + (attr_b[i]-val[1])*(attr_b[i]-val[1]) ))

In [18]:
dist

[0.8685497415008433,
 1.53762762817041,
 1.2787093754832184,
 1.9673817449102795,
 0.6092179356680654,
 5.068196423900864,
 3.030830729192691,
 4.619337175003341,
 7.083457903640859,
 5.074917792795683]

In [20]:
df = pd.DataFrame(data)

In [21]:
df

          0         1    2
0  2.781084  2.550537  0.0
1  1.465489  2.362125  0.0
2  3.396562  4.400294  0.0
3  1.388070  1.850220  0.0
4  3.064072  3.005306  0.0
5  7.627531  2.759262  1.0
6  5.332441  2.088627  1.0
7  6.922597  1.771064  1.0
8  8.675419 -0.242069  1.0
9  7.673756  3.508563  1.0

In [22]:
df["dist"] = dist

In [23]:
df

          0         1    2      dist
0  2.781084  2.550537  0.0  0.868550
1  1.465489  2.362125  0.0  1.537628
2  3.396562  4.400294  0.0  1.278709
3  1.388070  1.850220  0.0  1.967382
4  3.064072  3.005306  0.0  0.609218
5  7.627531  2.759262  1.0  5.068196
6  5.332441  2.088627  1.0  3.030831
7  6.922597  1.771064  1.0  4.619337
8  8.675419 -0.242069  1.0  7.083458
9  7.673756  3.508563  1.0  5.074918

In [24]:
res = df.sort_values(by = 'dist')

In [25]:
res

          0         1    2      dist
4  3.064072  3.005306  0.0  0.609218
0  2.781084  2.550537  0.0  0.868550
2  3.396562  4.400294  0.0  1.278709
1  1.465489  2.362125  0.0  1.537628
3  1.388070  1.850220  0.0  1.967382
6  5.332441  2.088627  1.0  3.030831
7  6.922597  1.771064  1.0  4.619337
5  7.627531  2.759262  1.0  5.068196
9  7.673756  3.508563  1.0  5.074918
8  8.675419 -0.242069  1.0  7.083458

In [26]:
k = 3

In [27]:
res.head(3)

          0         1    2      dist
4  3.064072  3.005306  0.0  0.609218
0  2.781084  2.550537  0.0  0.868550
2  3.396562  4.400294  0.0  1.278709

In [28]:
res = res.head(3)

In [29]:
res

          0         1    2      dist
4  3.064072  3.005306  0.0  0.609218
0  2.781084  2.550537  0.0  0.868550
2  3.396562  4.400294  0.0  1.278709

In [31]:
res[2].mode()

0    0.0
dtype: float64